<?xml version="1.0" encoding="utf-8"?><!-- key tool command https://developers.google.com/android/guides/client-auth -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dlinkddns.hil.naptimealarm">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <!-- make the app appear in chromebooks without touch enabled -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <!-- added per https://firebase.google.com/docs/app-indexing/android/app -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- tested at
                https://digitalassetlinks.googleapis.com/v1/statements:list?source.web.site=http://hil.dlinkddns.com&relation=delegate_permission/common.handle_all_urls
                with asset links json at
                http://hil.dlinkddns.com/.well-known/assetlinks.json -->
                <data
                    android:host="hil.dlinkddns.com"
                    android:pathPrefix="/naptimealarm"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".PlayRingtoneReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.NOTIFY" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>