[database_config]
dbhost = cloudsql
dbuser = fit
dbpass = REDACTED
dbname = fit
dbport = 3306

[app_config]
API_KEY = secret
project = PROJECT_ID
default_timezone = US/Pacific
bucket_name = BUCKET
datastore_kind = credentials
logger_name = fit

[bigquery_config]
dataset_google_fit = fitness
table_heartrate = heartrate
table_activities = activities
table_segments = activity_segments
table_steps = steps
table_calories = calories
dataset_dash = dashboard
table_users = bq_users
table_datasources = bq_users_datasources