Flask
google-cloud-resource-manager
google-cloud-error-reporting
google-python-cloud-debugger
google-cloud-logging
opencensus
opencensus-ext-stackdriver
gcloud
# moved google-cloud-monitoring to Dockerfile because opencensus-ext-stackdriver installs the older version
# ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
# opencensus-ext-stackdriver 0.7.4 requires google-cloud-monitoring<1.0.0,>=0.30.0, but you have google-cloud-monitoring 2.0.0 which is incompatible.